/* .custom-form{
    display: flex;
    background-color: black;
    color: white;
    width: 600px;
    height: 600px;
    margin: auto;
    justify-content: center;
    margin-top: 12px;
    border-radius: 12px;
    font-weight: 600;
} */